
 #i1{
    width: 100%;
    height: 500px;
} 

#b1{
    
    background-color: rgb(104, 4, 158);
    border-radius: 20px;
    width: 13%;
    height: 50px;
    border-color: rgb(104,4,158);   
}
#b2{
    background-color: rgb(104, 4, 158);
    border-radius: 20px;
    width: 5%;
    height: 40px;
    border-color: rgb(104,4,158);
}
#b3{
    text-align: center;
    background-color: rgb(104,4,158);

}
#k1{
    color: rgb(104, 4, 158);
    
}
#r1{
    color: rgb(134, 91, 173);
}
#b4{
    background-color: rgb(104, 4, 158);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    border-color: rgb(104,4,158);   
}


#borrow:hover{
    transform: scale(1.01);
}

#toprow:hover{
    transform: scale(1.01);
}

#rowbut{
    height: 60px;
    width: 170px;
    border-radius: 50px;
    border-color: rgb(104, 4, 158);
    color: rgb(104, 4, 158);;
}

#rowbut:hover{
    height: 60px;
    width: 170px;
    border-radius: 50px;
    border-color: rgb(104, 4, 158);
    color: white;
    background-color: rgb(104, 4, 158);;
}





@media(orientation:portrait)
{  
    #b2{ 
        height: 50px;
        width: 90px;
        font-size: smaller;
        font-weight: lighter;
    } 
    #b1{
        height: 50px;
        width: 90px;
        font-size: smaller;
        font-weight: lighter; 
    }
 
     h1{
    font-size: large;
    }
    p{
    font-size:small;
     }
     #rowbut{
        height: 32px;
        width: 122px;
        font-size: smaller;
        font-weight: lighter;

     }
}

 


